@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


body{
    margin: 0;
    box-sizing: border-box;
    height: 5000px;
}


nav .logo{
    color:rgb(0, 0, 0);
    float:left;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    display: block;
    padding: 14px 16px;
}
nav{
background: #84ff6c;
overflow: hidden;
position: fixed;
width: 100%;
}


nav a{
    color:black;
    float:right;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    display: block;
    padding: 14px 16px;
}

nav a:hover{
    transition: 0.5s;
    background-color:black;
    color: #84ff6c;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around ;
    
}
/*
img.estoque{
    width: 100px;
    padding: 50px;
    display: inline-block;
}

img.calendario{
    width: 90px;
    margin-left: 50px;
    display: inline-block;
}

 img.vendas{
     width: 95px;
     margin-left: 50px;
 }
 img.clientes{
     width: 70px;
     margin-left: 60px;
 }
 img.servicos{
     width: 70px;
     margin-left: 60px;
 }*/
p{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    display: block;
    padding: 14px;
    margin-top: -10px;
    margin-left: -5px;
}
